*.py[co]
*.swp

# Default development database
devdata.db

# Default data directory
data/*

# Packages
*.egg
*.egg-info
dist
build
apache

# Installer logs
pip-log.txt

# Unit test / coverage reports
.coverage
.tox
cover/
