*.py[co]
*.swp

# Default development database
devdata.db

# Default data directory
data/*

# Packages
dist
build
apache

# Installer logs
pip-log.txt
rnms.log

# Other configs
development2.ini
uat.ini
uat_verb.ini

# Unit test / coverage reports
.coverage
.tox
cover/

# Test/trial stuff
[a-z]*test*.py
