
.amap1 {
    margin: 0px 0px 0px 0px;
	float: left;
    background: #200020;
    padding: 10px;
}

.amap2 {
	float: left;
    border: 3px double #cccccc;
    border-radius: 5px 5px 5px 5px;
    padding: 20px;
}

.mapheader {
    clear: both;
    float: left;
    line-height: 10px;
}

.mapmain {
    margin-left: 100px;
}

ul.maplist {
    margin: 0px;
    padding: 0px;
}

.mapheader ul.maplist li {
    background: #666666;
    font-weight: bold;
}

.maplist li {
    list-style: none outside none;
    margin: 2px 5px 5px 2px;
    padding: 3px 0 0;
    float: left;
    border: 2px solid #cccccc;
    color: #cccccc;
    border-radius: 2px 2px 2px 2px;
    height: 38px;
    width: 80px;
    font-family: sans-serif, monospace;
    font-size: 10px;
    overflow: hidden;
    text-align: center;
}
