/* CSS types for Rosenberg NMS graphs */

div.rrdgraph {
	font-family: Helvetica;
	font-size: 10pt;
    margin-bottom: 10px;
}

div.graph_title {
	font-weight: bold;
	font-size: 12pt;
}

div.graph_legend {
    margin-left: 10px;
}

div.graph_row_l {
	float: left;
	clear: both;
}

div.graph_row_r {
	float: right;
}

div.rrdgraph_clear {
    clear: both;
}
